<div>
  <header>
    <div class="small-header">
      <a href="/" id="logo" class="pull-left"><h3>Niche</h3></a>
      <h5 class="greet pull-left"></h5>
      <% if session[:user_id] %>
        <h5 class="logout pull-right"><%= link_to "Logout", (logout_path) %></h5>
      <% else %>
        <h5 class="login pull-right"><%= link_to "Login", (login_path) %></h5>
        <h5 class="register pull-right"><%= link_to "Register", (login_path) %></h5>
      <% end %>
    </div>

    <div class="jumbotron header">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3">
            <h1 id="welcome">Welcome to Niche</h1>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Where are you going?">
              <span class="input-group-btn">
              <button class="btn btn-default" type="button" method="get">Go!</button>
              </span>
              <div class="message">
              </div>
            </div> <!--input-group -->
          </div> <!-- col-lg-6 -->
        </div> <!-- row -->
      </div>
    </div>
  </header>

  <div class="jumbotron user-previews">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
          <h3 id="preview">Where Others Have Been Lately</h3>
          <div class="previews">
            <p>this will eventually be a carousel of interesting things...</p>
          </div>
         </div> <!-- col-lg-6 -->
      </div> <!-- row -->
    </div>
  </div>
</div>
