<div class="col-md-3">
  <h1>profile</h1>
  <h5><%= link_to "rate more places", new_response_path, class: "btn btn-primary" %></h5>
  <h5>Itineraries (link eventually)</h5>
</div>

<table class="table">
  <th>Places I've Rated</th>
  <th>My Rating</th>
  <% @my_places.each do |place| %>
    <tr>
      <td><%= place.name %></td>
      <td><%= place.place_rating(current_user) %></td>
      <td><%= link_to "Change Rating", edit_response_path(place.response_id(current_user)) %></td>
      <td></td>
      <td></td>
    </tr>
  <% end %>
</table>
