/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.small-header {
  margin-bottom: -7rem;
  background: rgba(255,255,255,.5);
  border-color: none;
  border-style: hidden;
}

#logo {
  text-decoration: none;
  padding-left: 1.5rem;
  padding-top: .75rem;
  font-family: 'Lobster', cursive;
  font-size: 3rem;
}

#logo:hover {
  color: rgb(206, 107, 113);
}

.header {
  height: 50rem;
  margin-top: -1rem;
  background: image-url("blue.jpeg");
  background-size: 160rem 68rem;
}


.dropdown {
  margin-top: 1rem;
}

#welcome-title {
  padding-top: 1.5rem;
  padding-left: 1.5rem;

}

#welcome {
  padding-top: 13rem;
}

.login {
  padding-right: 1rem;
  display: inline-block;
}

.logout {
  padding-right: .75rem;
}

.places-link {
  padding-right: 1rem;
}

.register {
  padding-right: .75rem;
}

.sign-up-form {
  margin: 0 auto;
  width: 30rem;
}

.profile-header {
  height: 60rem;
  margin-top: -21rem;
  background: image-url("greece.jpeg");
  background-size: 160rem 83rem;
}

.place-head {
  text-align: center;
}

.search {
  margin-top: 10rem;
}

// for search page

#class-recs {
  margin-top: 10rem;
  padding-bottom: 10rem;
  text-align: center;
  font-size: 8rem;
  color: gray;
}

#wrapper {
  width: 90%;
  min-width: 75rem;
  margin: 0 auto;
}

#columns {
  column-count: 3;
  column-gap: 0rem;
  -webkit-column-count: 3;
  -webkit-column-gap: 0rem;
  column-fill: balance;
}

.tile {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  padding: 15px;
  padding-bottom: 5px;
  opacity: 1;
  transition: all .2s ease;
}

.tile img {
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
  max-width: 45rem;
  max-height: 55rem;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

.tile ul {
  font: 12px/18px Arial, sans-serif;
  color: #333;
  margin-bottom: 2rem;
  padding: 0;
}

.tile li {
  list-style-type: none;
  padding: 0;
}
// end search page styles

.table {
  margin: 0 auto;
  width: 85rem;
}


.table-header {
  text-align: center;
}

.modal-header {
  text-align: center;
}

.modal-body {
  margin: 0 auto;
}

.form-group {
  margin: 0 auto;
}

.form {
  margin-top: 10rem;
}

.form-aside {
  position: relative;
  height: 100%;
  width: 20rem;
  float: left;
}

.user-previews {
  margin-top: -5rem;
  height: 60rem;
  text-align: center;
  display: block;
}
