<div class"col-lg-6 col-lg-offset-3 search">
  <h3 class="table-header">Recommendations for You</h3>
  <table class="table table-responsive">
    <tr>
      <th>Image</th>
      <th> </th>
      <th>Ranked for You</th>
      <th>Name</th>
      <th>Our Prediction of your Rating</th>
    </tr>
    <% @response.each do |place| %>
      <tr>
        <td><%= image_tag(place[:image_url]) %></td>
        <td></td>
        <td><%= place[:rank] %></td>
        <td><%= place[:name] %></td>
        <td><%= place[:score] %></td>
      </tr>
    <% end %>
  </table>
