<h3 id="class-recs">Recommendations for You</h3>
<div id="wrapper">
  <div id="columns">
    <% @response.each do |place| %>
    <div class="tile">
        <%= image_tag(place[:image_url]) %>
        <ul>
          <li class="place-name">
            <%= place[:name] %>
          </li>
          <li id="yelp">
            View on Yelp <%= link_to (place[:url]), popup: :true do %>
              <span class="glyphicon glyphicon-link"></span>
            <% end %>
          </li>
        </ul>
    </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
$('a[popup]').on('click', function(e) {
    e.preventDefault();
    var newWindow = window.open($(this).attr('href'),'onYelp', 'height=900,width=700');
    newWindow.moveTo(50,50)
});
</script>
